In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile


#importing the california data
PARENT = "Predicting_House_Prices"
path = Path(PARENT).parent / "../Data/cleaned_data.csv"
data = pd.read_csv(path)
data

,Unnamed: 0,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,1,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,2,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,3,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,5,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,6,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,13784,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,13787,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,13801,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,13802,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,13803,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

In [2]:
#extracting the prices (our ys)
y_values = data["price"]
y_values

0        675000.0
1        649000.0
2        599000.0
3        575000.0
4        888000.0
           ...
31468    100000.0
31469    254900.0
31470    350000.0
31471    379000.0
31472    337900.0
Name: price, Length: 31473, dtype: float64

In [3]:
#removing the Unamed:0 column and the price
data2 = data.drop(columns=
    [
        "Unnamed: 0",
        "price"
    ]
)
data2.sample(15)

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
3333,Listing removed,Brawley,CA,1968,965.0,sqft,1,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Imperial County
15441,Listed for sale,Bakersfield,CA,1954,1109.0,sqft,2,3,1,1,1,one level,0,0,0,0,SINGLE_FAMILY,Kern County
23922,Listed for sale,Villa Rica,GA,2006,3672.0,Acres,4,4,0,0,1,one level,0,0,0,0,SINGLE_FAMILY,Carroll County
27151,Listed for sale,Mableton,GA,2002,2168.0,Acres,4,4,1,0,1,two levels,0,0,0,0,SINGLE_FAMILY,Cobb County
10429,Listed for sale,Huntington Beach,CA,1965,2564.0,sqft,3,4,1,3,1,split level,1,1,0,0,SINGLE_FAMILY,Orange County
7309,Listed for sale,Winnetka,CA,1956,1513.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Los Angeles County
30157,Listed for sale,Toccoa,GA,1952,2047.0,Acres,3,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Stephens County
13220,Listed for sale,Willows,CA,1970,1058.0,sqft,2,3,1,1,1,one level,0,0,0,0,SINGLE_FAMILY,Glenn County
25949,Listed for sale,Columbus,GA,1999,3157.0,Acres,4,4,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Muscogee County
16252,Listed for sale,La Mesa,CA,1951,2346.0,Acres,3,4,1,1,1,one level,0,1,0,0,SINGLE_FAMILY,San Diego County
15487,Price change,Fort Jones,CA,1975,1800.0,Acres,2,2,0,0,0,others,0,0,0,0,SINGLE_FAMILY,Siskiyou County
1377,Listed for sale,Los Angeles,CA,1927,2261.0,sqft,3,4,0,0,0,others,1,1,0,0,SINGLE_FAMILY,Los Angeles County
18202,Listed for sale,San Anselmo,CA,1971,1894.0,Acres,2,3,1,0,0,others,0,0,0,0,SINGLE_FAMILY,Marin County
15413,None,Anaheim,CA,1927,2037.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Orange County
29389,Listed for sale,Valdosta,GA,2005,2831.0,Acres,3,3,1,0,0,others,0,0,0,0,SINGLE_FAMILY,Lowndes County

# Preprocessing
I will be standardizing the folowing numeric variables: livingArea, bathrooms, bedrooms, buildingArea, and garageSpaces.
While I will be one-hot encoding the categorical variables: state, county, city, event, levels, homeType, yearBuilt, and lotAreaUnits.

In [4]:
#state ohe
data3 = pd.concat([data2,pd.get_dummies(data2['state'], prefix='state')],axis=1)
data3

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county,state_CA,state_GA
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County,1,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County,0,1
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County,0,1
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County,0,1

In [5]:
#city ohe
data4 = pd.concat([data3,pd.get_dummies(data2['city'], prefix='city')],axis=1)
data4

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Yorkville,city_Yosemite National Park,city_Young Harris,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#event ohe
data5 = pd.concat([data4,pd.get_dummies(data2['event'], prefix='event')],axis=1)
data5

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,1,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,1,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,0,0

In [7]:
#lotAreaUnits ohe
data6 = pd.concat([data5,pd.get_dummies(data2['lotAreaUnits'], prefix='lotAreaUnits')],axis=1)
data6

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,1,0,0,0,0,0,0,1
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,1,0,0,0,0,0,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,1,0,0,0,0,0,0,1
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,1,0,0,0,0,0,0,1
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,1,0,0,0,0,0,1,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,1,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,1,0,0,0,0,0,1,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,1,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,1,0,0,0,0,0,1,0

In [8]:
#levels ohe
data7 = pd.concat([data6,pd.get_dummies(data2['levels'], prefix='levels')],axis=1)
data7

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,1,1,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,1,0,1,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,1,0,0,0,1
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,1,1,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,1,0,1,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,1,0,1,0,1,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,0,1
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,1,0,1,0,1,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,0,1

In [9]:
#homeType ohe
data8 = pd.concat([data7,pd.get_dummies(data2['homeType'], prefix='homeType')],axis=1)
data8

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,1,1,0,0,0,0,0,0,1,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,1,0,0,0,0,0,0,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,1,0,0,0,1,0,0,0,1,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,1,1,0,0,0,0,0,0,1,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,1,0,0,0,0,0,0,1,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,1,0,0,0,0,0,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,1,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,1,0,0,0,0,0,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# county ohe
data9 = pd.concat([data8,pd.get_dummies(data2['county'], prefix='county')],axis=1)
data9

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# removing the original categorical columns
data10 = data9.drop(
    columns=[
        "state",
        "city",
        "event",
        "levels",
        "homeType",
        "lotAreaUnits",
        "county",
    ]
)
data10

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,1958,1671.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1959,1414.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1908,1336.0,2,3,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1958,1413.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,2278.0,3,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,1986,1081.0,2,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,1978,1632.0,2,3,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,2002,2665.0,4,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,2000,1960.0,3,3,1,2,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
31472,2002,2295.0,3,4,1,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data10, y_values, test_size=0.3)

In [13]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import Normalizer

scaler = Normalizer()

X_train[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.fit_transform(
    X_train[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
30840,0.529235,0.848474,0.001061,0.001061,1,0.000530,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31303,0.999997,0.000000,0.001484,0.001979,1,0.000000,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
20896,0.683871,0.729600,0.001031,0.001031,1,0.001031,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
21509,0.584832,0.811153,0.000872,0.001162,1,0.000872,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
580,0.805014,0.593255,0.000824,0.000824,1,0.000412,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8343,0.443435,0.896305,0.001097,0.000878,1,0.000439,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
5832,0.695089,0.718922,0.000711,0.001067,1,0.000711,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18575,0.773847,0.633369,0.000812,0.001624,1,0.000812,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3488,0.803097,0.595846,0.000810,0.001214,1,0.000810,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2556,0.684021,0.729460,0.001049,0.001398,1,0.000699,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# standarding the testing data from the training data
X_test[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.transform(
    X_test[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
25050,0.839868,0.542789,0.000856,0.001284,1,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11232,0.725045,0.688700,0.001113,0.001113,1,0.000371,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10673,0.698693,0.715419,0.001045,0.001394,1,0.000697,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18795,0.863633,0.504118,0.000884,0.001327,0,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9271,0.923841,0.382768,0.000945,0.002363,1,0.000000,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6694,0.887118,0.461538,0.000910,0.001365,1,0.000910,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22596,0.721400,0.692515,0.001083,0.001444,1,0.000722,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
27140,0.797051,0.603910,0.000790,0.001185,0,0.000790,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18961,0.912692,0.408647,0.000459,0.000917,1,0.000000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
271,0.622137,0.782907,0.000924,0.001232,1,0.000616,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#splitting the training data into further training and validation data for model comparison
X_train_model, X_valid_model, y_train_model, y_valid_model = train_test_split(X_train, y_train, test_size=0.3)

In [16]:
#importing the trains, validation, and test data

#X_train
path2 = Path(PARENT).parent / "../Data"
X_train.to_csv(path2/'X_train.csv')

In [17]:
#X_test
path3 = Path(PARENT).parent / "../Data"
X_test.to_csv(path3/'X_test.csv')

In [18]:
#y_train
path4 = Path(PARENT).parent / "../Data"
y_train.to_csv(path4/'y_train.csv')

In [19]:
#y_test
path5 = Path(PARENT).parent / "../Data"
y_test.to_csv(path5/'y_test.csv')

In [20]:
#X_train_model
path6 = Path(PARENT).parent / "../Data"
X_train_model.to_csv(path6/'X_train_model.csv')

In [21]:
#X_valid_model
path7 = Path(PARENT).parent / "../Data"
X_valid_model.to_csv(path7/'X_valid_model.csv')

In [22]:
#y_train_model
path8 = Path(PARENT).parent / "../Data"
y_train_model.to_csv(path8/'y_train_model.csv')

In [23]:
#y_valid_model
path9 = Path(PARENT).parent / "../Data"
y_valid_model.to_csv(path9/'y_valid_model.csv')