In [35]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile


#importing the california data
PARENT = "Predicting_House_Prices"
path = Path(PARENT).parent / "../Data/cleaned_data.csv"
data = pd.read_csv(path)
data

,Unnamed: 0,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,1,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,2,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,3,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,5,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,6,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,13784,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,13787,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,13801,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,13802,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,13803,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

In [36]:
#removing the Unamed:0 column and the price
data2 = data.drop(columns=
    [
        "Unnamed: 0"
    ]
)
data2.sample(15)

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
14013,Listed for sale,5600000.0,Indio,CA,2004,6150.0,Acres,6,4,1,5,1,others,1,1,0,0,SINGLE_FAMILY,Riverside County
24918,Listed for sale,516610.0,Cumming,GA,2021,2500.0,Acres,3,3,1,2,1,two levels,0,0,1,0,SINGLE_FAMILY,Forsyth County
16707,Listed for sale,7900000.0,Santa Barbara,CA,1936,0.0,Acres,7,7,1,2,1,split level,0,1,0,0,SINGLE_FAMILY,Santa Barbara County
19422,Listed for sale,639900.0,San Diego,CA,1958,1415.0,sqft,2,3,1,2,1,one level,0,1,0,0,SINGLE_FAMILY,San Diego County
29734,Price change,500000.0,Vidalia,GA,1938,7754.0,Acres,7,6,0,0,0,others,0,0,0,0,SINGLE_FAMILY,Toombs County
22976,Listed for sale,1300000.0,Vacaville,CA,2008,2928.0,Acres,3,3,1,3,1,one level,0,1,0,0,SINGLE_FAMILY,Solano County
17048,Price change,695000.0,San Luis Obispo,CA,1989,1756.0,sqft,3,3,1,2,1,others,0,0,0,0,CONDO,San Luis Obispo County
7563,Listed for sale,1050000.0,San Mateo,CA,1945,970.0,sqft,1,2,0,0,0,others,0,0,0,0,SINGLE_FAMILY,San Mateo County
11791,Listed for sale,799998.0,San Francisco,CA,1932,1320.0,sqft,1,4,1,1,1,one level,0,0,0,0,SINGLE_FAMILY,San Francisco County
10069,Listed for sale,699000.0,San Jose,CA,1988,1250.0,sqft,2,2,1,0,0,others,0,0,0,0,CONDO,Santa Clara County
26162,Listed for sale,89900.0,Fitzgerald,GA,1999,1792.0,Acres,2,3,0,0,0,others,0,0,0,0,SINGLE_FAMILY,Ben Hill County
2753,Sold,1000000.0,Grover Beach,CA,1978,3008.0,sqft,8,8,1,0,0,one level,0,0,0,0,MULTI_FAMILY,San Luis Obispo County
28614,Listed for sale,135000.0,Monticello,GA,2002,1073.0,Acres,2,3,1,1,1,one level,0,0,0,0,SINGLE_FAMILY,Jasper County
10477,Listed for sale,1125000.0,Philo,CA,1984,706.0,Acres,1,2,1,3,1,two levels,0,0,0,0,SINGLE_FAMILY,Mendocino County
30336,Listed for sale,134900.0,Atlanta,GA,1965,655.0,sqft,1,1,1,1,1,one level,1,0,0,0,SINGLE_FAMILY,Fulton County

# Preprocessing
I will be standardizing the folowing numeric variables: livingArea, bathrooms, bedrooms, buildingArea, and garageSpaces.
While I will be one-hot encoding the categorical variables: state, county, city, event, levels, homeType, yearBuilt, and lotAreaUnits.

In [37]:
#state ohe
data3 = pd.concat([data2,pd.get_dummies(data2['state'], prefix='state')],axis=1)
data3

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county,state_CA,state_GA
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County,1,0
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County,0,1
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County,0,1
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County,0,1

In [38]:
#city ohe
data4 = pd.concat([data3,pd.get_dummies(data2['city'], prefix='city')],axis=1)
data4

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_Yorkville,city_Yosemite National Park,city_Young Harris,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,0,0,0,0,0,0

In [39]:
#event ohe
data5 = pd.concat([data4,pd.get_dummies(data2['event'], prefix='event')],axis=1)
data5

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,1,0,0,0,0,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,1,0,0,0,0,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,1,0,0,0,0,0
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,1,0,0,0,0,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,1,0,0,0,0,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,1,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,1,0,0,0,0,0
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,1,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,1,0,0,0,0,0

In [40]:
#lotAreaUnits ohe
data6 = pd.concat([data5,pd.get_dummies(data2['lotAreaUnits'], prefix='lotAreaUnits')],axis=1)
data6

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,1,0,0,0,0,0,0,1
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,1,0,0,0,0,0,1,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,1,0,0,0,0,0,0,1
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,1,0,0,0,0,0,0,1
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,1,0,0,0,0,0,1,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,1,0,1,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,1,0,0,0,0,0,1,0
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,1,0,1,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,1,0,0,0,0,0,1,0

In [41]:
#levels ohe
data7 = pd.concat([data6,pd.get_dummies(data2['levels'], prefix='levels')],axis=1)
data7

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,1,1,0,0,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,1,0,1,0,0,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,1,0,0,0,1
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,1,1,0,0,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,1,0,1,0,0,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,1,0,1,0,1,0,0,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,1,0,0,0,0,1
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,1,0,1,0,1,0,0,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,1,0,0,0,0,1

In [42]:
#homeType ohe
data8 = pd.concat([data7,pd.get_dummies(data2['homeType'], prefix='homeType')],axis=1)
data8

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,1,1,0,0,0,0,0,0,1,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,1,0,0,0,0,0,0,1,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,1,0,0,0,1,0,0,0,1,0
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,1,1,0,0,0,0,0,0,1,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,1,0,0,0,0,0,0,1,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,1,0,0,0,0,0,0,1,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,1,0,0,0,1,0
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,1,0,0,0,0,0,0,1,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,1,0,0,0,1,0

In [43]:
# county ohe
data9 = pd.concat([data8,pd.get_dummies(data2['county'], prefix='county')],axis=1)
data9

,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,...,0,0,0,0,0,0,0,0,0,0

In [44]:
# removing the original categorical columns
data11 = data9.drop(
    columns=[
        "state",
        "city",
        "event",
        "levels",
        "homeType",
        "lotAreaUnits",
        "county"
    ]
)
data11

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,675000.0,1958,1671.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,649000.0,1959,1414.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,599000.0,1908,1336.0,2,3,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,575000.0,1958,1413.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,888000.0,2000,2278.0,3,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,100000.0,1986,1081.0,2,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,254900.0,1978,1632.0,2,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
31470,350000.0,2002,2665.0,4,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,379000.0,2000,1960.0,3,3,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
31472,337900.0,2002,2295.0,3,4,1,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [45]:
#subsetting for only ca data
ca_subset = data11[data11["state_CA"]==1].copy()
ca_subset

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,675000.0,1958,1671.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,649000.0,1959,1414.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,599000.0,1908,1336.0,2,3,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
3,575000.0,1958,1413.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,888000.0,2000,2278.0,3,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23451,3360000.0,1927,0.0,4,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23452,1699000.0,1924,1774.0,2,3,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23453,1450000.0,1900,486.0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23454,1495000.0,1906,1896.0,2,4,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23455,2850000.0,1971,1801.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [46]:
#extracting the prices (our ys)
y_values_CA = ca_subset["price"]
y_values_CA

0         675000.0
1         649000.0
2         599000.0
3         575000.0
4         888000.0
           ...
23451    3360000.0
23452    1699000.0
23453    1450000.0
23454    1495000.0
23455    2850000.0
Name: price, Length: 23456, dtype: float64

In [47]:
# removing the y 
ca_subset = ca_subset.drop(
    columns=[
        "price"
    ]
)
ca_subset

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,1958,1671.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1959,1414.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1908,1336.0,2,3,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1958,1413.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,2278.0,3,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23451,1927,0.0,4,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23452,1924,1774.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23453,1900,486.0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23454,1906,1896.0,2,4,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23455,1971,1801.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
#subsetting for only ga data
ga_subset = data11[data11["state_GA"]==1].copy()
ga_subset

,price,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
23456,169900.0,1985,2302.0,3,4,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23457,165000.0,1971,1620.0,2,2,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23458,173500.0,1980,1512.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23459,349900.0,1999,2309.0,2,3,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
23460,129500.0,1940,1874.0,2,3,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,100000.0,1986,1081.0,2,3,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,254900.0,1978,1632.0,2,3,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
31470,350000.0,2002,2665.0,4,5,1,2,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,379000.0,2000,1960.0,3,3,1,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0
31472,337900.0,2002,2295.0,3,4,1,2,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [49]:
#extracting the prices (our ys)
y_values_GA = ga_subset["price"]
y_values_GA

23456    169900.0
23457    165000.0
23458    173500.0
23459    349900.0
23460    129500.0
           ...
31468    100000.0
31469    254900.0
31470    350000.0
31471    379000.0
31472    337900.0
Name: price, Length: 8017, dtype: float64

In [50]:
# removing the y 
ga_subset = ga_subset.drop(
    columns=[
        "price"
    ]
)
ga_subset

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
23456,1985,2302.0,3,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23457,1971,1620.0,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23458,1980,1512.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23459,1999,2309.0,2,3,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
23460,1940,1874.0,2,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,1986,1081.0,2,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,1978,1632.0,2,3,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,2002,2665.0,4,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,2000,1960.0,3,3,1,2,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
31472,2002,2295.0,3,4,1,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
from sklearn.model_selection import train_test_split

X_train_CA, X_test_CA, y_train_CA, y_test_CA = train_test_split(ca_subset, y_values_CA, test_size=0.3)
X_train_GA, X_test_GA, y_train_GA, y_test_GA = train_test_split(ga_subset, y_values_GA, test_size=0.3)

In [52]:
#combing to get data for both states
X_train_All = pd.concat([X_train_CA, X_train_GA])
X_test_All = pd.concat([X_test_CA, X_test_GA])
y_train_All = pd.concat([y_train_CA, y_train_GA])
y_test_All = pd.concat([y_test_CA, y_test_GA])

In [53]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_CA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.fit_transform(
    X_train_CA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_CA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
14084,1.615719,0.485390,3.203592,2.136709,1,1.403270,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17043,-1.785573,-0.235951,-1.229783,-1.103432,0,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2423,-0.663871,-0.175661,-1.229783,-0.293397,1,-0.182217,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15762,0.240728,0.011453,0.248009,0.516638,1,0.610527,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15494,0.421648,-0.210622,-0.490887,-1.103432,1,-0.974960,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9733,-0.844790,-0.126430,-0.490887,-0.293397,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4511,-0.880974,-0.153899,-0.490887,-1.103432,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23271,-0.700055,0.548891,3.942488,2.946744,1,0.610527,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
15851,-1.785573,0.071921,0.248009,0.516638,1,0.610527,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14669,0.457832,-0.040454,0.248009,-0.293397,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [54]:
# standarding the testing data from the training data
X_test_CA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.transform(
    X_test_CA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_CA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
8966,0.530200,0.391387,0.986905,0.516638,0,-0.974960,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14129,-1.966493,0.035890,-0.490887,-0.293397,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7568,0.132176,-0.050443,0.986905,-0.293397,0,-0.974960,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4327,-1.640837,0.250651,0.248009,2.946744,0,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6986,-2.219781,0.102958,0.986905,0.516638,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18855,-0.663871,-0.182082,-1.229783,-0.293397,1,0.610527,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
10384,0.747304,0.298277,1.725800,1.326674,1,1.403270,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
18982,-0.157295,-0.175483,-0.490887,-1.103432,1,-0.974960,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
22106,0.819672,-0.013876,0.986905,0.516638,1,-0.974960,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17446,1.036775,0.039279,0.248009,0.516638,1,-0.974960,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler2= StandardScaler()

X_train_GA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler2.fit_transform(
    X_train_GA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_GA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
26247,0.679661,-0.376110,-0.650136,-0.488673,1,-0.712902,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27737,-1.763353,-0.357111,-1.394761,-0.488673,0,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30748,0.811716,-0.192794,-0.650136,-0.488673,0,1.155863,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
27749,0.745688,1.497102,1.583737,1.271805,1,1.155863,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28816,-0.310750,-0.144012,-0.650136,-0.488673,1,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31327,0.217469,-0.389974,-0.650136,-0.488673,0,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29658,0.250483,0.138921,0.094488,0.391566,1,-0.712902,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25990,0.580620,-0.457241,0.094488,-0.488673,1,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31030,-3.083901,1.256789,0.839113,4.792760,0,-0.712902,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
30682,1.240894,-0.080339,0.094488,0.391566,1,1.155863,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [56]:
# standarding the testing data from the training data
X_test_GA[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler2.transform(
    X_test_GA[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_GA

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
24620,-0.277736,-1.160723,0.839113,1.271805,0,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30002,-0.772942,-0.626693,-0.650136,-1.368912,1,0.221481,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25305,-2.159517,-0.561993,-0.650136,0.391566,0,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29432,-0.607873,-0.582533,-0.650136,-0.488673,1,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23692,0.514592,2.489166,2.328362,3.032282,1,2.090245,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26411,0.613634,0.203107,0.094488,0.391566,1,-0.712902,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29595,-0.607873,-0.345300,-0.650136,-0.488673,1,-0.712902,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30968,0.745688,1.513534,0.839113,-0.488673,1,-0.712902,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28637,1.240894,-1.160723,0.094488,0.391566,1,-0.712902,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23961,-0.772942,-1.160723,2.328362,1.271805,1,1.155863,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler3= StandardScaler()

X_train_All[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler3.fit_transform(
    X_train_All[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train_All

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
14084,1.480035,0.543858,3.163337,2.133890,1,1.532705,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
17043,-1.805522,-0.274923,-1.268681,-1.163409,0,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2423,-0.721987,-0.206488,-1.268681,-0.339084,1,-0.090012,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15762,0.151831,0.005901,0.208658,0.485240,1,0.721347,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15494,0.326595,-0.246172,-0.530011,-1.163409,1,-0.901370,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31327,0.466406,-0.132993,-0.530011,-0.339084,0,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29658,0.501358,0.075550,0.208658,0.485240,1,-0.901370,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
25990,0.850886,-0.159516,0.208658,-0.339084,1,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31030,-3.028868,0.516323,0.947328,4.606864,0,-0.901370,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
30682,1.549940,-0.010904,0.208658,0.485240,1,0.721347,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [58]:
# standarding the testing data from the training data
X_test_All[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler3.transform(
    X_test_All[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test_All

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
8966,0.431453,0.437158,0.947328,0.485240,0,-0.901370,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
14129,-1.980286,0.033639,-0.530011,-0.339084,1,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7568,0.046973,-0.064356,0.947328,-0.339084,0,-0.901370,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4327,-1.665711,0.277410,0.208658,2.958214,0,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6986,-2.224955,0.109767,0.947328,0.485240,1,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26411,0.885838,0.100858,0.208658,0.485240,1,-0.901370,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29595,-0.407413,-0.115378,-0.530011,-0.339084,1,-0.901370,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
30968,1.025649,0.617557,0.947328,-0.339084,1,-0.901370,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28637,1.549940,-0.436897,0.208658,0.485240,1,-0.901370,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
23961,-0.582176,-0.436897,2.424667,1.309565,1,0.721347,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
#splitting the training data into further training and validation data for model comparison
X_train_model2, X_valid_model2, y_train_model2, y_valid_model2 = train_test_split(X_train_All, y_train_All, test_size=0.3)

In [60]:
#importing the trains, validation, and test data

#X_train
path2 = Path(PARENT).parent / "../Data"
X_train_CA.to_csv(path2/'X_train_CA.csv')
X_train_GA.to_csv(path2/'X_train_GA.csv')
X_train_All.to_csv(path2/'X_train_All.csv')

In [ ]:
#X_test
path3 = Path(PARENT).parent / "../Data"
X_test_CA.to_csv(path3/'X_test_CA.csv')
X_test_GA.to_csv(path3/'X_test_GA.csv')
X_test_All.to_csv(path3/'X_test_All.csv')

In [ ]:
#y_train
path4 = Path(PARENT).parent / "../Data"
y_train_CA.to_csv(path4/'y_train_CA.csv')
y_train_GA.to_csv(path4/'y_train_GA.csv')
y_train_All.to_csv(path4/'y_train_All.csv')

In [ ]:
#y_test
path5 = Path(PARENT).parent / "../Data"
y_test_CA.to_csv(path5/'y_test_CA.csv')
y_test_GA.to_csv(path5/'y_test_GA.csv')
y_test_All.to_csv(path5/'y_test_All.csv')

In [ ]:
#X_train_model
path6 = Path(PARENT).parent / "../Data"
X_train_model2.to_csv(path6/'X_train_model2.csv')

In [ ]:
#X_valid_model
path7 = Path(PARENT).parent / "../Data"
X_valid_model2.to_csv(path7/'X_valid_model2.csv')

In [ ]:
#y_train_model
path8 = Path(PARENT).parent / "../Data"
y_train_model2.to_csv(path8/'y_train_model2.csv')

In [ ]:
#y_valid_model
path9 = Path(PARENT).parent / "../Data"
y_valid_model2.to_csv(path9/'y_valid_model2.csv')