In [1]:
import pandas as pd
import numpy as np
from pathlib import Path
import zipfile


#importing the california data
PARENT = "Predicting_House_Prices"
path = Path(PARENT).parent / "../Data/cleaned_data.csv"
data = pd.read_csv(path)
data

,Unnamed: 0,event,price,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
0,1,Listed for sale,675000.0,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
1,2,Listed for sale,649000.0,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
2,3,Listed for sale,599000.0,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County
3,5,Listed for sale,575000.0,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County
4,6,Listed for sale,888000.0,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,13784,Listed for sale,100000.0,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County
31469,13787,Price change,254900.0,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County
31470,13801,Listed for sale,350000.0,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County
31471,13802,Price change,379000.0,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County
31472,13803,Listed for sale,337900.0,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County

In [2]:
#extracting the prices (our ys)
y_values = data["price"]
y_values

0        675000.0
1        649000.0
2        599000.0
3        575000.0
4        888000.0
           ...
31468    100000.0
31469    254900.0
31470    350000.0
31471    379000.0
31472    337900.0
Name: price, Length: 31473, dtype: float64

In [3]:
#removing the Unamed:0 column and the price
data2 = data.drop(columns=
    [
        "Unnamed: 0",
        "price"
    ]
)
data2.sample(15)

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county
3576,Listing removed,Pasadena,CA,1899,4728.0,Acres,6,6,1,2,1,two levels,1,1,0,0,SINGLE_FAMILY,Los Angeles County
1478,Listing removed,Moreno Valley,CA,1990,1547.0,sqft,3,3,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Riverside County
6194,Listed for sale,Oakhurst,CA,1988,770.0,sqft,1,1,1,0,0,two levels,0,0,0,0,CONDO,Madera County
16035,Listed for sale,Pasadena,CA,2020,4384.0,Acres,6,4,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Los Angeles County
15614,Listed for sale,Turlock,CA,2000,1430.0,sqft,2,2,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Stanislaus County
4925,Listed for sale,Tulare,CA,1981,1039.0,sqft,2,2,1,0,0,others,0,0,0,0,CONDO,Tulare County
7139,Listed for sale,San Bernardino,CA,1960,1128.0,sqft,2,4,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,San Bernardino County
14475,Listed for sale,Hemet,CA,1963,1452.0,sqft,2,2,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Riverside County
8373,Listed for sale,Chino Hills,CA,1986,2571.0,sqft,3,4,1,3,1,two levels,1,0,0,0,SINGLE_FAMILY,San Bernardino County
15064,Listed for sale,Hemet,CA,1979,1194.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Riverside County
28837,Listed for sale,Atlanta,GA,1961,0.0,sqft,1,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Fulton County
24841,Listed for sale,Lagrange,GA,1920,1200.0,Acres,1,3,0,0,1,one level,0,0,0,0,SINGLE_FAMILY,Troup County
14249,Listed for sale,Los Gatos,CA,1990,2490.0,Acres,3,4,0,0,0,others,0,0,0,0,SINGLE_FAMILY,Santa Cruz County
9721,Listed for sale,Taft,CA,1930,834.0,Acres,1,2,0,0,0,one level,0,0,0,0,SINGLE_FAMILY,Kern County
17639,Listed for sale,Lancaster,CA,1990,1524.0,sqft,3,3,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Los Angeles County

# Preprocessing
I will be standardizing the folowing numeric variables: livingArea, bathrooms, bedrooms, buildingArea, and garageSpaces.
While I will be one-hot encoding the categorical variables: state, county, city, event, levels, homeType, yearBuilt, and lotAreaUnits.

In [4]:
#state ohe
data3 = pd.concat([data2,pd.get_dummies(data2['state'], prefix='state')],axis=1)
data3

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,hasGarage,levels,pool,spa,isNewConstruction,hasPetsAllowed,homeType,county,state_CA,state_GA
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,1,two levels,0,1,0,0,SINGLE_FAMILY,Contra Costa County,1,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,1,one level,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Contra Costa County,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,0,one level,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,0,one level,1,0,0,0,SINGLE_FAMILY,Walton County,0,1
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,1,two levels,0,0,0,0,SINGLE_FAMILY,Newton County,0,1
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,1,one level,1,1,0,0,SINGLE_FAMILY,Newton County,0,1
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,1,two levels,0,1,0,0,SINGLE_FAMILY,Newton County,0,1

In [5]:
#city ohe
data4 = pd.concat([data3,pd.get_dummies(data2['city'], prefix='city')],axis=1)
data4

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Yorkville,city_Yosemite National Park,city_Young Harris,city_Yountville,city_Yreka,city_Yuba City,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,0,0,0,0,0,0

In [6]:
#event ohe
data5 = pd.concat([data4,pd.get_dummies(data2['event'], prefix='event')],axis=1)
data5

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Yucaipa,city_Yucca Valley,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,1,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,1,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,1,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,0,0

In [7]:
#lotAreaUnits ohe
data6 = pd.concat([data5,pd.get_dummies(data2['lotAreaUnits'], prefix='lotAreaUnits')],axis=1)
data6

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,city_Zebulon,city_Zenia,event_Listed for sale,event_Listing removed,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,1,0,0,0,0,0,0,1
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,1,0,0,0,0,0,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,1,0,0,0,0,0,0,1
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,1,0,0,0,0,0,0,1
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,1,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,1,0,0,0,0,0,1,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,1,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,1,0,0,0,0,0,1,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,1,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,1,0,0,0,0,0,1,0

In [8]:
#levels ohe
data7 = pd.concat([data6,pd.get_dummies(data2['levels'], prefix='levels')],axis=1)
data7

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,event_None,event_Pending sale,event_Price change,event_Sold,lotAreaUnits_Acres,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,1,1,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,1,0,1,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,1,0,0,0,1
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,1,1,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,1,0,1,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,1,0,1,0,1,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,0,1
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,1,0,1,0,1,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,0,1

In [9]:
#homeType ohe
data8 = pd.concat([data7,pd.get_dummies(data2['homeType'], prefix='homeType')],axis=1)
data8

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,lotAreaUnits_sqft,levels_one level,levels_others,levels_split level,levels_two levels,homeType_APARTMENT,homeType_CONDO,homeType_MULTI_FAMILY,homeType_SINGLE_FAMILY,homeType_TOWNHOUSE
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,1,1,0,0,0,0,0,0,1,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,1,0,0,0,0,0,0,1,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,1,0,0,0,1,0,0,0,1,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,1,1,0,0,0,0,0,0,1,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,1,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,1,0,0,0,0,0,0,1,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,1,0,0,0,0,0,0,1,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,1,0,0,0,1,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,1,0,0,0,0,0,0,1,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# county ohe
data9 = pd.concat([data8,pd.get_dummies(data2['county'], prefix='county')],axis=1)
data9

,event,city,state,yearBuilt,livingArea,lotAreaUnits,bathrooms,bedrooms,parking,garageSpaces,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,Listed for sale,Pinole,CA,1958,1671.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
1,Listed for sale,Pinole,CA,1959,1414.0,Acres,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
2,Listed for sale,Pinole,CA,1908,1336.0,sqft,2,3,1,1,...,0,0,0,0,0,0,0,0,0,0
3,Listed for sale,Pinole,CA,1958,1413.0,sqft,2,3,1,2,...,0,0,0,0,0,0,0,0,0,0
4,Listed for sale,Pinole,CA,2000,2278.0,sqft,3,5,1,2,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,Listed for sale,Oxford,GA,1986,1081.0,Acres,2,3,1,0,...,0,0,0,0,0,0,0,0,0,0
31469,Price change,Oxford,GA,1978,1632.0,Acres,2,3,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,Listed for sale,Oxford,GA,2002,2665.0,Acres,4,5,1,2,...,0,0,0,0,0,0,0,0,0,0
31471,Price change,Oxford,GA,2000,1960.0,Acres,3,3,1,2,...,0,0,0,0,0,0,0,0,0,0
31472,Listed for sale,Oxford,GA,2002,2295.0,Acres,3,4,1,2,...,0,0,0,0,0,0,0,0,0,0

In [11]:
# removing the original categorical columns
data10 = data9.drop(
    columns=[
        "state",
        "city",
        "event",
        "levels",
        "homeType",
        "lotAreaUnits",
        "county",
    ]
)
data10

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
0,1958,1671.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1959,1414.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1908,1336.0,2,3,1,1,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1958,1413.0,2,3,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2000,2278.0,3,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31468,1986,1081.0,2,3,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31469,1978,1632.0,2,3,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
31470,2002,2665.0,4,5,1,2,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31471,2000,1960.0,3,3,1,2,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0
31472,2002,2295.0,3,4,1,2,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data10, y_values, test_size=0.3)

In [13]:
# standardizing the numeric variables in the training data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.fit_transform(
    X_train[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_train

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
15977,0.123077,-0.020277,-0.528312,-0.338227,1,-0.093718,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5181,-0.397379,-0.010739,0.205793,0.476766,1,0.714384,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
28779,-0.466773,-0.010641,-0.528312,-0.338227,0,-0.901819,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4792,0.053683,-0.006787,0.205793,0.476766,1,-0.901819,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7326,-0.432076,-0.019493,-0.528312,-0.338227,1,0.714384,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6057,-0.570865,0.025011,1.674003,0.476766,1,-0.901819,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
20071,0.435351,-0.018954,-0.528312,0.476766,1,0.714384,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7835,-0.119803,-0.024294,-0.528312,-1.153219,1,-0.093718,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15315,-1.264806,-0.007979,0.205793,0.476766,1,1.522485,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18338,-0.536168,0.019376,0.205793,0.476766,1,-0.901819,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# standarding the testing data from the training data
X_test[
    ["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]
] = scaler.transform(
    X_test[["livingArea", "bathrooms", "bedrooms", "yearBuilt", "garageSpaces"]]
)
X_test

,yearBuilt,livingArea,bathrooms,bedrooms,parking,garageSpaces,hasGarage,pool,spa,isNewConstruction,...,county_Wayne County,county_Wheeler County,county_White County,county_Whitfield County,county_Wilcox County,county_Wilkes County,county_Wilkinson County,county_Worth County,county_Yolo County,county_Yuba County
24079,0.504745,-0.024262,-0.528312,-1.153219,0,-0.901819,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16400,0.192471,-0.035024,-1.262416,-1.968212,1,-0.093718,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14806,0.018986,0.015408,1.674003,1.291758,1,0.714384,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18981,0.504745,0.010623,1.674003,1.291758,1,1.522485,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
13384,-0.466773,0.024162,1.674003,1.291758,1,1.522485,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2219,0.470048,-0.001283,-0.528312,-0.338227,1,1.522485,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0
18017,-0.779047,-0.017566,-0.528312,-0.338227,1,0.714384,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10267,0.678230,-0.022874,-0.528312,-0.338227,1,-0.901819,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17192,-0.744350,-0.010788,0.205793,-0.338227,1,0.714384,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3092,0.261865,0.005772,-0.528312,-0.338227,1,0.714384,1,1,1,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
#splitting the training data into further training and validation data for model comparison
X_train_model, X_valid_model, y_train_model, y_valid_model = train_test_split(X_train, y_train, test_size=0.3)

In [16]:
#importing the trains, validation, and test data

#X_train
path2 = Path(PARENT).parent / "../Data"
X_train.to_csv(path2/'X_train.csv')

In [17]:
#X_test
path3 = Path(PARENT).parent / "../Data"
X_test.to_csv(path3/'X_test.csv')

In [18]:
#y_train
path4 = Path(PARENT).parent / "../Data"
y_train.to_csv(path4/'y_train.csv')

In [19]:
#y_test
path5 = Path(PARENT).parent / "../Data"
y_test.to_csv(path5/'y_test.csv')

In [20]:
#X_train_model
path6 = Path(PARENT).parent / "../Data"
X_train_model.to_csv(path6/'X_train_model.csv')

In [21]:
#X_valid_model
path7 = Path(PARENT).parent / "../Data"
X_valid_model.to_csv(path7/'X_valid_model.csv')

In [22]:
#y_train_model
path8 = Path(PARENT).parent / "../Data"
y_train_model.to_csv(path8/'y_train_model.csv')

In [23]:
#y_valid_model
path9 = Path(PARENT).parent / "../Data"
y_valid_model.to_csv(path9/'y_valid_model.csv')